*/target/*
/target/
src/main/resources/conf/localConf.properties
src/main/resources/conf/localEnv.properties
target/classes/conf/localConf.properties
target/cucumber.json
reports/.DS_Store
src/.DS_Store
src/test/.DS_Store
src/test/java/ServiceNow/.DS_Store
src/test/java/.DS_Store
.DS_Store
src/test/java/ServiceNow/CHARMS/.DS_Store
true